# Getting Started with Git's .gitignore File
# Kenneth J. Sauer (kjsauer on GitHub)

# NB: This is the getting-started\getting-started\.gitignore file.

# Please see contents of getting-started\.gitignore file instead.